<% include ./partials/header.ejs %>

<div>
	<h1>Welcome to SR Software</h1>
</div>

<div>
	<h2>Contact</h2>
</div>

<div>
	<ul>
		<li>Design</li>
		<li>Develop</li>
		<li>Partner</li>
	</ul>
</div>


<% include ./partials/footer.ejs %>